@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
}

/* Fix scrolling when modal appears */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  background: #fff;
}

.toolbar a {
  text-decoration: none;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-left: 24px;
}

.logo:hover {
  animation: grow 4s linear;
}

@keyframes grow {
  from {
    font-size: 18px;
  }

  to {
    font-size: 36px;
  }
}

.menu-icon {
  width: 30px;
  height: 30px;
  margin-right: 24px;
  color: #6070ff;
  cursor: pointer;
}

.headline-container {
  display: flex;
  flex-direction: column;
  min-height: 816px;
  height: 100vh;
  background: #fff;
  background-image: url("../assets/background-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 30%;
  border-bottom-left-radius: 50px;
  padding-top: 20%;
}

.headline {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.grettings {
  margin-top: 100px;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 1px;
  margin-right: 24px;
}

.social {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.social p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 10px;
}

.social-links {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  padding: 0;
  margin-top: 1px;
}

.social-links li {
  list-style: none;
  padding: 0;
}

/* Second Part Day 4 */

/* WORK SECTION */

.works-section {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 90px;
  margin: 150px 0 50px;
  padding: 150px 20px;
}

.card-works {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 0;
  padding: 16px;
}

.project-screenshot {
  width: 100%;
  border-radius: 8px;
}

.project-desc {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.project-desc h2 {
  width: 280px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.s-desc {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.s-desc :first-child {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.s-desc li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #c1c7d0;
}

.desc-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.categories {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.categories li {
  padding: 5px;
  background: #ebebff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  list-style: none;
}

.see-project-btn {
  width: 150px;
  margin-top: 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  cursor: pointer;
  transition: all 2s ease-in-out;
}

.see-project-btn:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.see-project-btn:active {
  color: #fff;
  background: #2230d2;
  box-shadow: none;
}

/* ABOUT SECTION */

.about-content {
  display: flex;
  flex-direction: column;
  padding: 100px 20px;
  border-top-right-radius: 70px 100px;
  background: #fff;
}

.about-title {
  width: 100px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

.about-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.resume-btn {
  width: 170px;
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  cursor: pointer;
  transition: all 2s ease-in-out;
}

.resume-btn:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.resume-btn:active {
  color: #fff;
  background: #2230d2;
  box-shadow: none;
}

.skills-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.dropdown-open {
  display: flex;
  justify-content: space-between;
  padding: 15px 45px 15px 15px;
  border: none;
  list-style: none;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 45px 15px 15px;
  border-bottom: 1.5px solid #acb7c3;
}

.dropdown-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.dropdown i {
  color: #acb7c3;
  font-style: normal;
  font-weight: 100;
}

.dropdown-open i {
  color: #acb7c3;
  font-style: normal;
  font-weight: 100;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown-list-item {
  display: flex;
  align-items: center;
  gap: 16px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
  list-style: none;
}

.dropdown-list-item span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.dropdown-list li:last-child span {
  text-transform: uppercase;
}

/* CONTACT SECTION */

.contact-section {
  background: #fff;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  background: #6070ff;
  border-top-left-radius: 100px;
  background-image: url("../assets/contact-bg.png");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: 100% 10px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  margin: 25px;
}

.contact-text {
  width: 327px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 0 10px 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.input {
  min-width: 327px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  color: #172b4d;
  padding: 15px 16px;
  margin-bottom: 20px;
}

textarea {
  height: 170px;
  font-family: "Poppins", sans-serif;
}

.btn-contact {
  width: 170px;
  padding: 12px 16px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}

.btn-contact:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn-contact:active {
  color: #fff;
  background: #2230d2;
  box-shadow: none;
}

.menu {
  display: none;
}

/* DESKTOP VERSION */

@media (min-width: 760px) {
  /* HEADER SECTION */

  .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    margin-right: 10%;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .menu-link {
    text-decoration: none;
    color: #344563;
  }

  .toolbar {
    align-items: center;
  }

  .toolbar i {
    display: none;
  }

  .headline-container {
    flex-direction: row;
    margin-top: 0;
    background-image: url("../assets/background-desk.png");
    background-size: 100%;
    background-position: 100% 10%;
    align-items: none;
    padding: 15% 16%;
    border-bottom-left-radius: 50px;
  }

  .headline {
    margin-top: 0;
    padding: 0 10%;
  }

  .grettings {
    margin-top: 0;
  }

  .desc {
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    width: 70%;
  }

  /* WORKS SECTION */

  .works-section {
    grid-template-columns: minmax(300px, 70%);
    justify-content: center;
  }

  .card-works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
  }

  .card-works:nth-child(even) .img-container {
    order: 1;
  }

  .project-screenshot {
    width: 100%;
  }

  .project-desc {
    margin-top: 0;
    width: 100%;
  }

  .project-desc h2 {
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .s-desc {
    align-items: baseline;
    justify-content: baseline;
  }

  .s-desc :first-child {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .s-desc li {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .desc-text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .categories li {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .see-project-btn {
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  /* ABOUT SECTION */

  .about-content {
    flex-direction: row;
    padding: 100px;
    gap: 25px;
  }

  .about-info {
    flex: 1;
    padding: 10px;
  }

  .technologies {
    flex: 2;
  }

  .skills-container {
    margin-top: 0;
  }

  .dropdown-list {
    width: 50%;
    flex-direction: row;
    gap: 20px;
  }

  .dropdown-list-item {
    flex-direction: column;
    flex: 1;
  }

  .dropdown-list li:last-child span {
    text-transform: capitalize;
  }

  /* CONTACT SECTION */

  .contact-container {
    align-items: center;
    background-image: url("../assets/contact-bg-desk.png");
    background-size: 60%;
    background-position: 50% 50%;
  }

  .contact-title {
    margin-top: 70px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .contact-text {
    width: 30%;
  }

  .input {
    min-width: 447px;
    border-radius: 2px;
  }

  textarea {
    height: 170px;
    font-family: "Poppins", sans-serif;
  }

  .btn-contact {
    align-self: center;
  }

  /* POPUP WINDOW DETAILS */

  .popup-details {
    padding: 1% !important;
  }

  .details-content {
    width: 50%;
    height: 95vh;
    padding: 2% 1% !important;
  }

  .popup-img-container {
    align-items: center;
    margin-top: 0 !important;
  }
  .screenshot {
    width: 100% !important;
    height: 70% !important;
  }

  .popup-desc {
    display: flex;
    margin-top: 0 !important;
    gap: 2%;
  }

  
  .popup-text-desc {
    width: 70%;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    /* color: #344563;
    margin-bottom: 1%; */
  }

  .popup-footer {
    width: 30%;
  }

  .categories {
    font-size: 10px !important;
  }
  .links-popup {
    justify-content: flex-start !important;
  }

  .btn-popup {
    font-size: 12px !important;
    line-height: 10px !important;
    padding: 5px !important;
    width: 80% !important;
  }
}

/* Mobile Menu Modal */

.menu-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #6070ff;
  opacity: 0.99;
  backdrop-filter: blur(4px);
  mix-blend-mode: multiply;
  z-index: 1;
  display: none;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
}

.menu-mobile-links {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 0;
  list-style: none;
  gap: 25px;
}

.menu-mobile-links li a {
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  color: #fff;
  text-decoration: none;
}

/* Popup Window Details */

.popup-details {
  justify-content: center;
  display: none;
  padding: 8% 5%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #c1c7d0;
  opacity: 1;
  mix-blend-mode: multiply;
  backdrop-filter: blur(20px);
  z-index: 100;
  overflow: scroll;
}

.details-content {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 0;
  padding: 5% 5%;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.details-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.details-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#close-popup {
  width: 25px;
  height: 25px;
  margin-right: 4%;
  cursor: pointer;
}

#popup-ul-tags {
  margin: 2% 0 2%;
}

.screenshot {
  width: 100%;
  height: 95%;
}

.popup-desc {
  margin: 0;
  padding: 0;
}

.popup-text-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 1%;
}

.fs {
  margin-top: 7%;
}

.line {
  width: 100%;
  margin-top: 7%;
  border: 1px solid #ebecf0;
}

.links-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 5%;
}

.links-popup a {
  text-decoration: none;
}

.btn-popup {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding: 10px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  cursor: pointer;
  transition: all 2s ease-in-out;
}

.btn-popup:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn-popup:active {
  color: #fff;
  background: #2230d2;
  box-shadow: none;
}

.btn-icon {
  width: 25px;
  height: 25px;
}
